<div class="container-fluid">
  <h2>Enrollment Form</h2>
  <form action="" #userForm="ngForm">
    {{ userForm.value | json }}
    <hr>
    {{ userModel | json }}
    
    <div ngModelGroup="address">
      <div class="form-group">
        <label for="">Street</label>
        <input type="text" class="form-control" name="street" ngModel>
      </div>
      <div class="form-group">
        <label for="">City</label>
        <input type="text" class="form-control" name="city" ngModel>
      </div>
      <div class="form-group">
        <label for="">Street</label>
        <input type="text" class="form-control" name="state" ngModel>
      </div>
      <div class="form-group">
        <label for="">Postal Code</label>
        <input type="text" class="form-control" name="postalCode" ngModel>
      </div>
    </div>

    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" name="username" ngModel>
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" name="email" ngModel>
    </div>

    <div class="form-group">
      <label for="">Topic</label>
      <select name="" id="" class="custom-select" name="topic" ngModel>
        <option selected>I am interested in</option>
        <option *ngFor="let topic of topics">{{ topic }} </option>        
      </select>
    </div>

    <div class="mb-3">
      <label for="">Time preference</label>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="timePreference" value="morning" ngModel>
        <label for="" class="form-check-label">Morning (9AM - 12PM)</label>        
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="timePreference" value="evening" ngModel>
        <label for="" class="form-check-label">Morning (5PM - 8PM)</label>        
      </div>
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" name="subscribe" ngModel>
      <label for="" class="form-check-label">
        Send me incidents
      </label>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>